* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  padding-top: 20px;
  padding-right: 100px;
  padding-left: 100px;
}

.container {
  width: 100%;
  /* largura */
  display: flex;
  /* permite que alteremos a posição dos elementos na tela */
  justify-content: space-between;
  /* permite justificar / alinhar os componentes na horizontal */
  align-items: center;
  /* permite alinhar os componentes na vertical*/
}

.texto-sobre {
  width: 600px;
}

.copo-imagem {
  width: 600px;
  display: flex;
  justify-content: flex-end;
  margin-top: 150px;
  
  
}

.menu {
  display: flex;
  justify-content: center;
}

h1 {
  color: #333;
  font-size: 60px;
  font-weight: 500;
}

span {
  color: #017143;
  font-size: 70px;
  font-weight: 900;
}

p {
  font-size: 16px;
  /* tamanho da fonte */
}

button {
  background: #017143;
  /* background -> fundo do elemento */
  color: white;
  /* cor do texto */
  border-radius: 40px;
  /* arredondamento da borda */
  border: none;
  /* borda do elemento */
  cursor: pointer;
  /* cursor do mouse */
  padding: 10px;
  /* espaçamento interno */
  margin-top: 20px;
}

button:hover {
  background: #333;
  color: #017143;
}

.logo {
  width: 80px;
}

.starbucks {
  width: 340px;
}

.botao-menu {
  width: 60px;
  transition: 1s;
  cursor: pointer;
  margin: 10px;
}

.botao-menu:hover {
  transform: translateY(-25px);
}

.circulo {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(1, 113, 67);
  top: 10;
  left: 0;
  clip-path: circle(399px at right 500px);
  z-index: -1;
}

footer {
 margin-top: 20px;
  /* Reduzido o valor para melhorar a aparência */


  display: flex;
  /* Adicionado para usar flexbox */

  justify-content: center;
  /* Adicionado para centralizar as imagens horizontalmente */
}

.social-media img {
  width: 25px;
  margin: 0 10px;
}
/* Modificações responsivas */

@media (max-width: 768px) {
  body {
    padding-right: 20px;
    padding-left: 20px;
  }

  .container {
    flex-direction: column;
    align-items: center;
  }

  .copo-imagem {
   width: 100%;
    max-width: 600px;
    justify-content: center;
    margin-top: 0;
    transition: 1s;
    transform: translateY(-2px)
    
    
  }
  .texto-sobre {
    margin-bottom: 20px;
  }
  .circulo {
 
    width: 100%;
    height: 100%;
    top: 300px;
    left: 0;
    clip-path: circle(250px at center 420px);
  
}

  h1 {
    font-size: 40px;
  }

  span {
    font-size: 50px;
  }

  p {
    font-size: 16px;
  }

  button {
    width: 150px;
  }
}

@media (max-width: 576px) {
  
  .container {
    flex-direction: column;
    align-items: center;
  }

  .copo-imagem {
   width: 100%;
    max-width: 600px;
    justify-content: center;
    margin-top: 0;
    transition: 1s;
    transform: translateY(-2px)
    
    
  }
  .texto-sobre {
    margin-bottom: 20px;
  }
  .circulo {
 
    width: 100%;
    height: 100%;
    top: 300px;
    left: 0;
    margin:20px;
    clip-path: circle(250px at center 355px);
  
}
  .botao-menu{
    margin:20px;
  }
  h1 {
    font-size: 32px;
  }

  span {
    font-size: 40px;
  }

  p {
    font-size: 14px;
  }
}
@media (max-width: 320px) {
  
   .container {
    flex-direction: column;
    align-items: center;
  }

  .copo-imagem {
   width: 100%;
    max-width: 600px;
    justify-content: center;
    margin-top: 0;
    transition: 1s;
    transform: translateY(-2px)
    
    
  }
  .texto-sobre {
    margin-bottom: 20px;
  }
  .circulo {
 
    width: 100%;
    height: 100%;
    top: 300px;
    left: 0;
    margin:20px;
    clip-path: circle(250px at center 325px);
  
}
  .botao-menu{
    margin:20px;
  }
  
  h1 {
    font-size: 32px;
  }

  span {
    font-size: 40px;
  }

  p {
    font-size: 14px;
  }
}